<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title><%= @title ? "#{@title}": "最懂你的网络书签" %></title>
  <meta name="description" content="<%= @description %>">
  <meta name="author" content="robot.zhang">
  <%= stylesheet_link_tag 'libs/bootstrap.min.css', 'libs/bootstrap-responsive.min.css','main.css' %>
  <%= yield_content :stylesheets %>
</head>
<body>
<div id="flash-notice"></div>
<div class="header">
  <div class="navbar container">
    <div class="navbar-inner">
        <a class="brand" href="<%=request.base_url%>">书签网</a>
        <ul class="nav">
          <li class="active"><a href="#">最新</a></li>
          <li><a href="#">最热</a></li>
          <li><a href="#">成员</a></li>
        </ul>
      <ul class="nav pull-right">
        <li><a href="">求资源</a></li>
      </ul>
    </div>
  </div>
</div><!-- header -->

<div class="container clearfix">
  <%= yield %>
</div><!-- content -->

<div class="footer">

</div><!-- footer -->
<%= javascript_include_tag 'jquery', 'jquery-ujs', 'application' %>
<%= yield_content :javascripts %>
<% if flash[:notice] %>
    <script type="text/javascript">
        $('div#flash-notice').html('<%= flash[:notice] %>').show().fadeOut(3000);
    </script>
<% end %>
</body>
</html>